div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua ;
}

.translated{
    transform: perspective(10px) translateZ(-10px);
}

.scaled {
    transform: perspective(150px) scaleZ(3) rotateX(66deg);
}