p{
    position: static;
}

div{
    border: 1px solid black;
    background-color: pink;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#box2{
    position: relative;
    top: 100px;
}