.productItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 203, 114);
    cursor: pointer;
    padding: 14px;
}

.prod-btn{
    background-color: rgb(117, 0, 0);
    color: white;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}